## Settings file was created by plugin BeeQueen v1.0.4
## Plugin GUID: org.bepinex.plugins.beequeen

[BeeQueen]

## Decides, if the creature can be tamed.
# Setting type: Toggle
# Default value: Off
# Acceptable values: On, Off
Can be tamed = Off

## The items the creature consumes to get tame.
# Setting type: String
# Default value: 
Food items = 

## Configures the spawn for the creature.
# Setting type: SpawnOption
# Default value: Default
# Acceptable values: Disabled, Default, Custom
Spawn = Default

## Configures the time of day for the creature to spawn.
# Setting type: SpawnTime
# Default value: Day
# Acceptable values: Day, Night, Always
Spawn time = Day

## Configures the altitude required for the creature to spawn.
# Setting type: Range
# Default value: 5 - 1000
Required altitude = 5 - 1000

## Configures the ocean depth required for the creature to spawn.
# Setting type: Range
# Default value: 0 - 0
Required ocean depth = 0 - 0

## Configures the global key required for the creature to spawn.
# Setting type: GlobalKey
# Default value: None
# Acceptable values: None, KilledBonemass, KilledElder, KilledYagluth, KilledModer, KilledEikthyr, KilledTroll, KilledSurtling
Required global key = None

## Configures the size of the groups in which the creature spawns.
# Setting type: Range
# Default value: 1 - 2
Group size = 1 - 2

## Configures the biome required for the creature to spawn.
# Setting type: Biome
# Default value: Meadows
None, Meadows, Swamp, Mountain, BlackForest, Plains, AshLands, DeepNorth, Ocean, Mistlands
Biome = Meadows

## Configures if the creature spawns more towards the center or the edge of the biome.
# Setting type: SpawnArea
# Default value: Everywhere
# Acceptable values: Center, Edge, Everywhere
Spawn area = Everywhere

## Configures the weather required for the creature to spawn.
# Setting type: Weather
# Default value: ClearSkies
# Acceptable values: None, ClearSkies, MeadowsClearSkies, LightRain, Rain, ThunderStorm, ClearThunderStorm, SwampRain, MistlandsDark, AshlandsAshrain, MountainSnow, MountainBlizzard, BlackForestFog, Fog, DeepNorthSnow, DeepNorthSnowStorm, DeepNorthClear, EikthyrsThunderstorm, EldersHaze, BonemassDownpour, ModersVortex, YagluthsMagicBlizzard, Crypt, SunkenCrypt
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Required weather = None

## Configures the height from the ground in which the creature will spawn.
# Setting type: Single
# Default value: 0.5
Spawn altitude = 0.5

## If the creature can have stars.
# Setting type: Toggle
# Default value: On
# Acceptable values: On, Off
Can have stars = On

## Makes the creature immediately hunt down the player after it spawns.
# Setting type: Toggle
# Default value: Off
# Acceptable values: On, Off
Hunt player = On

## Configures the timespan that Valheim has to make the creature spawn.
# Setting type: Int32
# Default value: 300
Maximum spawn interval = 600

## Sets the chance for the creature to be spawned, every time Valheim checks the spawn.
# Setting type: Single
# Default value: 5
Spawn chance = 100

## If the creature can spawn in forests or cannot spawn in forests. Or both.
# Setting type: Forest
# Default value: Both
# Acceptable values: Yes, No, Both
Forest condition = Both

## The maximum number of this creature near the player, before Valheim stops spawning it in. Setting this lower than the upper limit of the group size does not make sense.
# Setting type: Int32
# Default value: 1
Maximum creature count = 2

## Configures the drops for the creature.
# Setting type: DropOption
# Default value: Default
# Acceptable values: Disabled, Default, Custom
Drops = Default

# Setting type: String
# Default value: Honey:1-2:100:unrestricted:multiplyByLevel,QueenBee:1-2:100:unrestricted:multiplyByLevel
Drop config = Honey:1-2:100:unrestricted:multiplyByLevel,QueenBee:1-2:100:unrestricted:multiplyByLevel

[item_BeeBomb]

## Crafting station where item_BeeBomb is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Required crafting station level to craft item_BeeBomb.
# Setting type: Int32
# Default value: 2
Crafting Station Level = 2

## Item costs to craft item_BeeBomb
# Setting type: String
# Default value: Honey:8
Crafting Costs = Honey:8

[item_BeeQueen_Stinger]

## Crafting station where item_BeeQueen_Stinger is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Required crafting station level to craft item_BeeQueen_Stinger.
# Setting type: Int32
# Default value: 2
Crafting Station Level = 2

## Item costs to craft item_BeeQueen_Stinger
# Setting type: String
# Default value: QueenBee:1,Wood:8,Flint:2
Crafting Costs = QueenBee:1,Wood:8,Flint:2

[item_Odins_Bee_Bomber]

## Crafting station where item_Odins_Bee_Bomber is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Required crafting station level to craft item_Odins_Bee_Bomber.
# Setting type: Int32
# Default value: 2
Crafting Station Level = 2

## Maximum crafting station level to upgrade and repair item_Odins_Bee_Bomber.
# Setting type: Int32
# Default value: 5
Maximum Crafting Station Level = 5

## Item costs to craft item_Odins_Bee_Bomber
# Setting type: String
# Default value: QueenBee:1,Wood:8,Honey:2
Crafting Costs = QueenBee:1,Wood:8,Honey:2

## Item costs per level to upgrade item_Odins_Bee_Bomber
# Setting type: String
# Default value: Wood:6,QueenBee:6
Upgrading Costs = Wood:6,QueenBee:6

[item_OdinsBeeHelmet]

## Crafting station where item_OdinsBeeHelmet is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Required crafting station level to craft item_OdinsBeeHelmet.
# Setting type: Int32
# Default value: 2
Crafting Station Level = 2

## Maximum crafting station level to upgrade and repair item_OdinsBeeHelmet.
# Setting type: Int32
# Default value: 5
Maximum Crafting Station Level = 5

## Item costs to craft item_OdinsBeeHelmet
# Setting type: String
# Default value: QueenBee:1,Honey:8,LeatherScraps:2
Crafting Costs = QueenBee:1,Honey:8,LeatherScraps:2

## Item costs per level to upgrade item_OdinsBeeHelmet
# Setting type: String
# Default value: LeatherScraps:6,QueenBee:6
Upgrading Costs = LeatherScraps:6,QueenBee:6

[item_OdinsQueenBeeHat]

## Crafting station where item_OdinsQueenBeeHat is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Required crafting station level to craft item_OdinsQueenBeeHat.
# Setting type: Int32
# Default value: 2
Crafting Station Level = 2

## Maximum crafting station level to upgrade and repair item_OdinsQueenBeeHat.
# Setting type: Int32
# Default value: 5
Maximum Crafting Station Level = 5

## Item costs to craft item_OdinsQueenBeeHat
# Setting type: String
# Default value: QueenBee:1,Honey:8,LeatherScraps:2
Crafting Costs = QueenBee:1,Honey:8,LeatherScraps:2

## Item costs per level to upgrade item_OdinsQueenBeeHat
# Setting type: String
# Default value: LeatherScraps:6,QueenBee:6
Upgrading Costs = LeatherScraps:6,QueenBee:6

